@import "color";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: $color-secondary;
    
    height: 100vh;
    background-size: cover;
    background-position: center;
}

section{
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;  
    justify-content: space-between;
    margin-top: 10vh;    

    .profil{
        border: 3px solid $color-primary;
        width: 20%;
        border-radius: 23px;
        background-color: $c_white;
        height: fit-content;

        h2{
            margin-top: 10px;
            width: 100%;
            text-align: center;
        }

        .body_profil{
            .row{
                width: 100%;

                .informatie{
                    width: 60%;
                    float: left;
                    padding: 1em 0 1em 0;
                    font-weight: bold;
                }

                .date{
                    float: right;
                    width: 40%;
                    padding: 1em 0 1em 0;
                    font-style: italic;
                }
            }
        }

    }
    
    .adauga_intrebare{
        border: 3px solid $color-primary;
        background-color: $c_white;
        width: 55%;
        border-radius: 23px;
        height: fit-content;
        flex-direction: column;

        .header{
            width: 100%;
            margin-top: 1em;
            margin-bottom: 1em;
            text-align: center;
        }

        .add_info{
            width: 100%;
            display: flex;
            flex-direction: inherit;
            .row{    
                margin-top: 1.4em;
                
                h3{
                    text-align: center;
                }
                .col_1{
                    width: 30%;
                    float: left;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                }
                .col_2{
                    width: 70%;
                    float:right;

                    textarea{
                        resize: none;
                        box-sizing: border-box;
                        width: 90%;
                    }
                }
            }
            .row_button{
                width: 100%;
                text-align: center;
                align-items: center;
                padding: 1em;
                margin-top: 1em;
            button{
                padding: 1em 1em;
                text-align: center;
                background: $color-primary;
                outline: none;
                color: $c_primary;
                border-radius: 23px;
            }
            }
        }

        .specificatii{
            margin-top: 1em;
            padding: 1em;
            h3{
                font-weight: bold;
                margin-bottom: 1em;
            }
            p{
                font-style: italic;
            }
        }

    }

    .clasament{
        border: 3px solid $color-primary;
        background-color: $c_white;
        width: 15%;
        border-radius: 23px;
        height: fit-content;

        h2{
            text-align: center;
        }
        .row{
            p{
                width: 100%;
                text-align: left;
                padding: 1em;
                font-style: italic;
                font-weight: bold;
            }
        }
        hr{
            height: 2px;
            background-color: orange;
            outline: none;
        }
        .row_button{
            width: 100%;
            text-align: center;
            align-items: center;
            padding: 1em;

            button{
                padding: 1em 1em;
                text-align: center;
                background: $color-primary;
                outline: none;
                color: $c_primary; 
                border-radius: 23px;
            }

        }
    }
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    border: 7px solid black;
    box-shadow: none;
}

::-webkit-scrollbar-thumb{
    background:linear-gradient(#052338, #a2a391);
    border-radius: 23px;
}

