@import "color";

*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-color: $color-secondary;
    position: relative;
    overflow: hidden;

    .history{
        background-color: $c_white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
        border-radius: 23px;
        text-align: center;
        justify-content: center;
        margin-top: 1em;
        .title{
            width: 100%;
            padding: 1em 0 0 0;
            margin-bottom: 1em;
        }
        
        .content{
            max-height: 70vh;
            overflow: auto;
            width: 100%;
            padding: 1em 0 0 0;
            margin-bottom: 1em;

            h4{
                margin: 2em;
                
            }
        }
        button{
            padding: 1em 1em;
            text-align: center;
            background-color: $color-primary;
            outline: none;
            border-radius: 23px;
            color: $c_white;
        }
    }
}