// $body_color:#245f78;
// $h1_color:black;
// $form_color:#fff;//#a2a391;
// $text_color:#a2a391;
@import "color";

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: $color-secondary;
}

.wizzard{
    background-color: $c_white;
    width: 30vmax;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 24px;
}

.login-forum{

    > * {
        margin-top: 10px;
    }

    .row{
        width: 100%;
    }

    h1{
        color: $c_primary;
        font-size: 40px;
    }

    .error {
        color: #f00;

        &:not(.active) {
            display: none;
        }
    }

    input{
        text-align: center;
        background: none;
        outline: none;
        border: 3px solid $color-primary;
        width: 70%;
        border-radius: 23px;
        resize: none;
        font-size: 2em;
        &:focus{
            width: calc(70% + 10px);
        }
        &:-webkit-autofill{
            font-size: 2em;
        }
    }

    button{
        text-align: center;
        background: $c_white;
        outline: none;
        color: $color-primary;
        float: center;
    }
}

@media only screen and (max-device-width: 800px) {
    .wizzard {
        width: 80vw;
        .row {
            > * {
                width: 100%;
                margin: 0;
                padding: 1em 0 0 0;
            }
            p {
                text-align: center;
            }
        }
    }
}