$body_color:#245f78;
$h1_color:black;
$form_color:#a2a391;
$text_color:#a2a391;

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: $body_color;    
}

.wizzard{
    background-color: $form_color;
    width: 30vmax;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 24px;
}

.login-forum{

    .row{
        width: 100%;
    }

    h1{
        color: $body_color;
    }

    input{
        text-align: center;
        background: none;
        outline: none;
        border: 3px solid $background_color;
        width: 70%;
        border-radius: 23px;
        resize: none;
        font-size: 2em;
        &:focus{
            width: calc(70% + 10px);
        }
    }

    button{
        padding: 1em 1em;
        text-align: center;
        background: $form_color;
        outline: none;
        color: $input_color;
        width: 100px;
        float: center;
    }
}

@media only screen and (max-device-width: 800px) {
    .wizzard {
        width: 80vw;
        .row {
            > * {
                width: 100%;
                margin: 0;
                padding: 1em 0 0 0;
            }
            p {
                text-align: center;
            }
        }
    }
}