$background_color: #052338;
$input_color:#e9f5fd;
$text_color:#031724;
$side_bar: #fcfeff;
$reply_color: #60b5f1;

body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-color: $background_color;
}

.title{
    border-bottom: 1px solid $background_color;
    margin-bottom: 0px;
}

.news-title{
    width: 100%;
    text-align: left;
}

.credit {
    margin-top: 10px;
    margin-bottom: 20px;
}

.credit a{
    font-weight: bold;
    text-decoration: none;
    color: $text_color;
}

.credit a:hover{
    color: $background_color;
}

.credit .title{
    color: $background_color;
}

.content{
    padding-left: 30px;
    border-left: 3px solid $side_bar;
    text-align: justify;
}

.content .sub-title{
    font-weight: bold;
}

.tags{
    text-align: justify;
    margin-bottom: 10px;

    p {
        padding: 1px;
        display: inline-block;
        margin-bottom: 2px;
        margin-top: 2px;
    }
}

.tag {
    margin-left: 10px;
    padding: 1px;
    border: 3px solid $background_color;
    border-radius:5px;
}

.tag:hover{
    cursor: pointer;
    color: $input_color;
    background-color: $background_color;
}

.info {
    border-color: #383405;
}

.info:hover {
    background-color: #383405;
}

.important {
    border-color: #380509;
}

.important:hover {
    background-color: #380509;
}

.stats{
    border: 1px solid $text_color;
    border-radius: 10px;
    padding: 1px;
}

.comments .comments{
    border-left:2px solid $side_bar;
}

.comment{
    width:95%;
    margin:auto;
    padding: 10px;
    text-align: justify;
}

.profile-picture{
    opacity: 1;
    display: block;
    width:100px;
    height:100px;
    border-radius: 50%;
    border: 3px solid $background_color;
    transition: .5s ease;
    backface-visibility: hidden;
}

.profile{
    width:100px;
    height:auto;
    margin-bottom: auto;
    float: left;
    padding-right: 20px;
}

.profile-name{
    font-weight: bold;
    text-decoration: none;
    color: $text_color;
}

.date-added{
    padding-top: 0;
}

.comment-text{
    padding-left: 20px;
}

.reply-to-coment{
    width:5%;
    color: $text_color;
}

.reply-to-coment:hover{
    color: $reply_color;
    cursor: pointer;
}

.replies{
    padding-left: 100px;
    list-style-type:none
}

.comments-limit{
    margin-top:10px;
}

.wizzard {
    background-color: $input_color;
    width: 60vw;
    margin-top: 10vh;
    height: auto;
    padding: 30px;
    text-align: center;
    border-radius: 0 0 23px 23px;
    transition: 0.15s;
    margin:auto;
}

@media only screen and (max-width: 800px) {
    .wizzard {
        width: 80vw;
    }

    .replies{
        display: none;
    }
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    border: 7px solid black;
    box-shadow: none;
}

::-webkit-scrollbar-thumb{
    background:linear-gradient(#052338, #a2a391);
    border-radius: 23px;
}

/*@media only screen and (max-device-width: 800px) {
    .wizzard {
        width: 80vw;
    }
}*/