$background_color: #052338;
$input_color:#e9f5fd;
$text_color:#031724;
$side_bar: #fcfeff;
$reply_color: #60b5f1;

.sidebar{
    background-color: $input_color;
    padding: 10px;
    text-align: justify;
    border-radius: 12px;
    transition: 0.15s;
    position: fixed;
    width:13vw;
    z-index: 1;
    top: 20vh;
    
}

.sidebar-news{
    margin-left: 83vw;
}

.sidebar-profile{
    margin-left: 2vw;
}

.sidebar-title{
    padding-left: 10px;
    border-bottom: 1px solid $text_color;
}

.sidebar-title:hover{
    cursor: default;
}

.sidebar-news-content{
    margin-top: 5px;
    font-size: 11px;
}

.sidebar-news-content table{
    margin-bottom: 10px;
}

.sidebar-news-read{
    text-align:left;
}

.sidebar-news-read a{
    text-decoration: none;
    color: $text_color;
}

.sidebar-news-read a:hover{
    color: $reply_color;
}

.sidebar-news-content-author{
    text-align: right;
}

.sidebar-news-content-author a{
    text-decoration: none;
    color: $text_color;
    font-weight: bold;
}

.sidebar-profile-content{
    margin-top: 5px;
    font-size: 11px;
}

.sidebar-profile-content:hover{
    cursor: default;
}

.sidebar-profile-username{
    text-decoration: none;
    color: $text_color;
    font-weight: bold;
}

.sidebar-profile-username:hover{
    cursor: pointer;
}

@media only screen and (max-width: 1250px) {
    .sidebar{
        display: none;
    }
}

@media only screen and (max-height: 465px) {
    .sidebar{
        display: none;
    }
}