$background_color: #245f78;
$input_color:#a2a391;
$text_color:#1a2f30;

body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-color: $background_color;
}

//pentru details
.row::after{
    content: "";
    display: table;
    clear: both;
}

.col_30{
    width: 30%;
    float: left;

    p{
        margin: 20px auto;
        padding: 10px 10px;
        text-align: right;
    }
}

.col_70{
    margin: 20px auto;
    width: 70%;
    float: right;
}

.col_50_1{
    width: 50%;
    float: left;    
}

.col_50_2{
    width: 50%;
    float: left;
}

.col_100{
    width: 100%;
    float: center;
}

.wizzard {
    background-color: $input_color;
    width: 70vw;
    height: auto;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 23px;
    transition: 0.15s;

    input, textarea {
        text-align: center;
        background: none;
        outline: none;
        border: 3px solid $background_color;
        width: 70%;
        border-radius: 23px;
        resize: none;
        font-size: 2em;
        &:focus{
            width: calc(70% + 10px);
        }
    }

    button{
        padding: 1em 1em;
        text-align: center;
        background: $background_color;
        outline: none;
        color: $input_color;
        width: 100px;
        float: center;
    }

    p {
        font-size: 4vmin;
    }
}

.offline {
    display: none;
}

@media only screen and (max-device-width: 800px) {
    .wizzard {
        width: 80vw;
        .row {
            > * {
                width: 100%;
                margin: 0;
                padding: 1em 0 0 0;
            }
            p {
                text-align: center;
            }
        }
    }
}


@media only screen and (max-device-height: 600px) {
    .wizzard{
        width: 80vh;
        .row{
            p{
                font-size: 4vmin;
                text-align: center;
            }
            input,textarea{
                font-size: 4vmin;
                text-align: center;
            }
            
        }
    }
}

