@import "reset";
@import "color";
@include reset;

// styling for basic tab
@for $step from 1 through 6 {
    h#{$step} {
        // background-color: red;
        font-size: #{25 - $step}px;
    }
}

#main {
    float: left;
    width: 75%;
    margin: 12px auto;
}

#side {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
}

.question-slot {
    float: left;
    padding: 0 8px;
}

.question-box {
    float: left;
    width: 100%;
    max-height: 250px;
    background-color: white;
    margin-top: 8px;
    padding: 0 0 4px 2px;
    border-radius: 12px;
    display: flex;
    cursor: pointer;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    border: 1px solid #BFBFBF;

    &:hover {
        background-color: #f1f1f1;
        box-shadow: 6px 6px 5px #aaaaaa;
    }
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

footer {
padding: 20px;
text-align: center;
margin-top: 20px;
}

@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
}

body {
    background: #f1f1f1;
}

main {
    margin: 0 auto;
    max-width: 95vw;
    display: flex;
    //float: left;

    nav {
        display: inline;
    }
}

.container {
    width: 100%;
    max-width: 80vw;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
}

.box {
    background-color: $color-box;
    border-radius: 1em 1em;
    margin: 0em;
    padding: 1em;
    font-size: 2em;
    > * {
        margin: 0 auto;
    }
    a {
        text-decoration: none;
    }
}

.btn {
    margin: 0.25em;
    color: inherit;
    text-transform: uppercase;
    white-space: normal;
    border: 0;
    border-radius: 0.2rem;
    padding: 0.7em 1.4em;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;

    :not(:disabled):not(.disabled) {
        cursor: pointer;
    }

    &.btn-primary {
        color: $c_white;
        background-color: $c_primary !important;

        &.btn-outline {
            color: $c_primary !important;
            background-color: transparent !important;
            border: 2px solid $c_primary !important;
        }
    }
    &.btn-default {
        color: $c_white;
        background-color: $c_default !important;

        &.btn-outline {
            color: $c_default !important;
            background-color: transparent !important;
            border: 2px solid $c_default !important;
        }
    }
    &.btn-secundary {
        color: $c_white;
        background-color: $c_secundary !important;

        &.btn-outline {
            color: $c_secundary !important;
            background-color: transparent !important;
            border: 2px solid $c_secundary !important;
        }
    }
    &.btn-success {
        color: $c_white;
        background-color: $c_success !important;

        &.btn-outline {
            color: $c_success !important;
            background-color: transparent !important;
            border: 2px solid $c_success !important;
        }
    }
    &.btn-info {
        color: $c_white;
        background-color: $c_info !important;

        &.btn-outline {
            color: $c_info !important;
            background-color: transparent !important;
            border: 2px solid $c_info !important;
        }
    }
    &.btn-warning {
        color: $c_white;
        background-color: $c_warning !important;

        &.btn-outline {
            color: $c_warning !important;
            background-color: transparent !important;
            border: 2px solid $c_warning !important;
        }
    }
    &.btn-danger {
        color: $c_white;
        background-color: $c_danger !important;

        &.btn-outline {
            color: $c_danger !important;
            background-color: transparent !important;
            border: 2px solid $c_danger !important;
        }
    }

    &.btn-round {
        border-radius: 10em;
    }
}

.text-center {
    text-align: center !important;
}

.flow-off {
    overflow: hidden;
}

.offline {
    display: none;
}
