<!DOCTYPE html>

<html lang = "ro">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../resources/js/classament.js"></script>
    <script src="../resources/js/historyBuilder.js"></script>
    <script src="../resources/js/classamentCard.js"></script>
    <script src="../resources/js/profileCard.js"></script>
    <script src="../resources/js/whoIsLoggedIn.js"></script>
    <script src="../resources/js/createQuestion.js"></script>

    <link rel="stylesheet" href="../resources/css/addquestion.css">
    <link rel="stylesheet" href="../resources/css/menu.min.css">
    <title>Adaugă o întrebare</title>
</head>
<body>
    <% partial nav %>
    <section>
        <div class="profil">
            <h2>Profil</h2>
            <div class="body_profil" id = "profil">
                <div class="row">
                    <div class="informatie">
                        <p> * Nume utilizator:</p>
                    </div>
                    <div class="date" id = "username">
                        <p id = "text1">{username}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="informatie">
                        <p> * SQLCoins:</p>
                    </div>
                    <div class="date" id = "user_coins">
                        <p id = "text2">{coins}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="informatie">
                        <p> * Poz. clasament:</p>
                    </div>
                    <div class="date" id = "poz_clasament">
                        <p id = "text3">{pozclas}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="adauga_intrebare">
            <div class="header">
                <h1>Adaugă o întrebare</h1>
            </div>
            <div class="add_info">
                <div class="row">
                    <div class="col_1">
                        <p>Titlu:</p>
                    </div>
                    <div class="col_2">
                        <input  id="titlu" cols="10" rows="5" placeholder="Titlu..." required></input>
                    </div>
                </div>
                <div class="row">
                    <div class="col_1">
                        <p>Enunț:</p>
                    </div>
                    <div class="col_2">
                        <textarea  id="enunt" cols="50" rows="5" placeholder="Enunt..." required></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col_1">
                        <p>Soluția:</p>
                    </div>
                    <div class="col_2">
                        <textarea  id="solutia" cols="50" rows="5" placeholder="Solutia..." required></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col_1">
                        <p>Costa:</p>
                    </div>
                    <div class="col_2">
                        <select id="costa">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                        </select>
                    </div>
                </div>
                <div class="row_button">
                    <button id="check">Valideaza intrebarea</button>
                    <button id="submit">Încarcă întrebarea</button>
                </div>
            </div>
            <div class="specificatii">
                <h3>Atenție!</h3>
                <p>Intrebarea se poate găsi pe panoul de întrebări.</p>
            </div>
        </div>
        <div class="clasament" id = "classamentCard">
            
        </div>
    </section>
</body>

</html>
