<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="../resources/css/error.min.css" type="text/css" media="all">
</head>
<body>
    <main class="page-error">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
            <g stroke-width="3">
                <path d="M93,97c7,0,7-74,0-74v-20l-13,14h-40l-13-14v20l-20,27l20,20v27m-14-40l-6,6m13,0l-7,7m0-27l-6-6m11-4l-5-4"/>
                <path d="M40,73h27l-20,7" />
                <circle cx="47" cy="40" r="7"/>
                <circle cx="73" cy="40" r="10"/>
            </g>
        </svg>
        <span>Doar nu am putut găsi pagina cerută.. Nu ai stricat nimic încă!</span>
    </main>
</body>
</html>