<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../resources/css/history.css">
    <link rel="stylesheet" href="../resources/css/sidebar.css">
    <script src="../resources/js/history.js"></script>
    <title>History Logs</title>
</head>
<body>
    <% partial nav %>
    <div class="history">
        <div class="title">
            <h1>History</h1>
        </div>
        <hr>
        <div class="content">
            <h3>Salut</h3>
            <h3>Salut</h3>
            <h3>Salut</h3>
            <h3>Salut</h3>
        </div>
    </div>
</body>
</html>