<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../resources/css/history.css">
    <link rel="stylesheet" href="../resources/css/sidebar.css">
    <script src="../resources/js/history.js"></script>
    <title>History Logs</title>
</head>
<body>
    <div class="wizzard">
        <div class="history-title">
            <h1 class="title">My History Logs</h1>
        </div>
        <div class="history-logs">
            <table>
                <thead>
                    <tr>
                        <th>Nume</th>
                        <th>Dificultate</th>
                        <th>Cost</th>
                        <th>Succes</th>
                        <th class="q-content"></th>
                    </tr>
                </thead>
                <tbody id="page-1">
                    <tr class="history-log">
                        <td>Q1</td>
                        <td>Usor</td>
                        <td>4</td>
                        <td>Succes</td>
                        <td class="q-content">Afiseaza data de nastere a studentului cu numarul matricol 100</td>
                    </tr>
                    <tr class="history-log">
                        <td>Q2</td>
                        <td>Mediu</td>
                        <td>4</td>
                        <td>Succes</td>
                        <td class="q-content">Afiseaza studentii care primesc bursa</td>
                    </tr>
                    <tr class="history-log">
                        <td>Q3</td>
                        <td>Mediu</td>
                        <td>4</td>
                        <td>Succes</td>
                        <td class="q-content">Afiseaza data de nastere a studentului cu numarul matricol 100</td>
                    </tr>
                    <tr class="history-log">
                        <td>Q4</td>
                        <td>Greu</td>
                        <td>4</td>
                        <td>Succes</td>
                        <td class="q-content">Afiseaza studentii care primesc bursa</td>
                    </tr>
                    <tr class="history-log">
                        <td>Q5</td>
                        <td>Mediu</td>
                        <td>4</td>
                        <td>Succes</td>
                        <td class="q-content">Afiseaza data de nastere a studentului cu numarul matricol 100</td>
                    </tr>
                    <tr class="history-log">
                        <td>Q6</td>
                        <td>Usor</td>
                        <td>4</td>
                        <td>Succes</td>
                        <td class="q-content">Afiseaza data de nastere a studentului cu numarul matricol 100</td>
                    </tr>
                    <tr class="history-log">
                        <td>Q7</td>
                        <td>Mediu</td>
                        <td>4</td>
                        <td>Succes</td>
                        <td class="q-content">Afiseaza studentii care primesc bursa</td>
                    </tr>
                    <tr class="history-log">
                        <td>Q8</td>
                        <td>Mediu</td>
                        <td>4</td>
                        <td>Succes</td>
                        <td class="q-content">Afiseaza data de nastere a studentului cu numarul matricol 100</td>
                    </tr>
                    <tr class="history-log">
                        <td>Q9</td>
                        <td>Greu</td>
                        <td>4</td>
                        <td>Succes</td>
                        <td class="q-content">Afiseaza studentii care primesc bursa</td>
                    </tr>
                    <tr class="history-log">
                        <td>Q10</td>
                        <td>Mediu</td>
                        <td>4</td>
                        <td>Succes</td>
                        <td class="q-content">Afiseaza data de nastere a studentului cu numarul matricol 100</td>
                    </tr>
                </tbody>
                <tbody id="page-2" class="invisible">
                    <tr class="history-log">
                        <td>Q11</td>
                        <td>Usor</td>
                        <td>4</td>
                        <td>Succes</td>
                        <td class="q-content">Afiseaza data de nastere a studentului cu numarul matricol 100</td>
                    </tr>
                    <tr class="history-log">
                        <td>Q12</td>
                        <td>Mediu</td>
                        <td>4</td>
                        <td>Succes</td>
                        <td class="q-content">Afiseaza studentii care primesc bursa</td>
                    </tr>
                    <tr class="history-log">
                        <td>Q13</td>
                        <td>Mediu</td>
                        <td>4</td>
                        <td>Succes</td>
                        <td class="q-content">Afiseaza data de nastere a studentului cu numarul matricol 100</td>
                    </tr>
                    <tr class="history-log">
                        <td>Q14</td>
                        <td>Greu</td>
                        <td>4</td>
                        <td>Succes</td>
                        <td class="q-content">Afiseaza studentii care primesc bursa</td>
                    </tr>
                    <tr class="history-log">
                        <td>Q15</td>
                        <td>Mediu</td>
                        <td>4</td>
                        <td>Succes</td>
                        <td class="q-content">Afiseaza data de nastere a studentului cu numarul matricol 100</td>
                    </tr>
                    <tr class="history-log">
                        <td>Q16</td>
                        <td>Usor</td>
                        <td>4</td>
                        <td>Succes</td>
                        <td class="q-content">Afiseaza data de nastere a studentului cu numarul matricol 100</td>
                    </tr>
                    <tr class="history-log">
                        <td>Q17</td>
                        <td>Mediu</td>
                        <td>4</td>
                        <td>Succes</td>
                        <td class="q-content">Afiseaza studentii care primesc bursa</td>
                    </tr>
                    <tr class="history-log">
                        <td>Q18</td>
                        <td>Mediu</td>
                        <td>4</td>
                        <td>Succes</td>
                        <td class="q-content">Afiseaza data de nastere a studentului cu numarul matricol 100</td>
                    </tr>
                    <tr class="history-log">
                        <td>Q19</td>
                        <td>Greu</td>
                        <td>4</td>
                        <td>Succes</td>
                        <td class="q-content">Afiseaza studentii care primesc bursa</td>
                    </tr>
                    <tr class="history-log">
                        <td>Q20</td>
                        <td>Mediu</td>
                        <td>4</td>
                        <td>Succes</td>
                        <td class="q-content">Afiseaza data de nastere a studentului cu numarul matricol 100</td>
                    </tr>
                </tbody>
                <tbody id="page-3" class="invisible">
                    <tr class="history-log">
                        <td>Q21</td>
                        <td>Usor</td>
                        <td>4</td>
                        <td>Succes</td>
                        <td class="q-content">Afiseaza data de nastere a studentului cu numarul matricol 100</td>
                    </tr>
                    <tr class="history-log">
                        <td>Q22</td>
                        <td>Mediu</td>
                        <td>4</td>
                        <td>Succes</td>
                        <td class="q-content">Afiseaza data de nastere a studentului cu numarul matricol 100</td>
                    </tr>
                    <tr class="history-log">
                        <td>Q23</td>
                        <td>Usor</td>
                        <td>4</td>
                        <td>Succes</td>
                        <td class="q-content">Afiseaza data de nastere a studentului cu numarul matricol 100</td>
                    </tr>
                    <tr class="emplty-history-log">
                        <td colspan="4">&nbsp;</td>
                    </tr>
                    <tr class="emplty-history-log">
                        <td colspan="4">&nbsp;</td>
                    </tr>
                    <tr class="emplty-history-log">
                        <td colspan="4">&nbsp;</td>
                    </tr>
                    <tr class="emplty-history-log">
                        <td colspan="4">&nbsp;</td>
                    </tr>
                    <tr class="emplty-history-log">
                        <td colspan="4">&nbsp;</td>
                    </tr>
                    <tr class="emplty-history-log">
                        <td colspan="4">&nbsp;</td>
                    </tr>
                    <tr class="emplty-history-log">
                        <td colspan="4">&nbsp;</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4" class="history-log-navigator">
                            <nav class="active">1</nav><nav>2</nav><nav>3</nav>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="history-question-log">
            <h2 class="question-title">Q1</h2>
            <div class="question-content">Afiseaza data de nastere a studentului cu numarul matricol 100</div>
            <div class="question-answer">
                <p>My Answer</p>
                <div>SELECT * FROM *;</div>
            </div>
        </div>
    </div>
    <!--News Partial-->
    <div class="sidebar sidebar-news">
        <div class="sidebar-title">
            News
        </div>
        <div class="sidebar-news-content">
            <table>
                <tbody>
                    <tr>
                        <td colspan="2">
                            Implementarea reusita a Paginii New...
                        </td>
                    </tr>
                    <tr>
                        <td class="sidebar-news-read">
                            <a href="./news.html">Read</a>
                        </td>
                        <td class="sidebar-news-content-author">
                            by <a href="./profile.html">BoRdEa2@00</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td colspan="2">
                            Implementarea reusita a Paginii New...
                        </td>
                    </tr>
                    <tr>
                        <td class="sidebar-news-read">
                            <a href="./news.html">Read</a>
                        </td>
                        <td class="sidebar-news-content-author">
                            by <a href="./profile.html">BoRdEa2@00</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td colspan="2">
                            Implementarea reusita a Paginii New...
                        </td>
                    </tr>
                    <tr>
                        <td class="sidebar-news-read">
                            <a href="./news.html">Read</a>
                        </td>
                        <td class="sidebar-news-content-author">
                            by <a href="./profile.html">BoRdEa2@00</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td colspan="2">
                            Implementarea reusita a Paginii New...
                        </td>
                    </tr>
                    <tr>
                        <td class="sidebar-news-read">
                            <a href="./news.html">Read</a>
                        </td>
                        <td class="sidebar-news-content-author">
                            by <a href="./profile.html">BoRdEa2@00</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td colspan="2">
                            Implementarea reusita a Paginii New...
                        </td>
                    </tr>
                    <tr>
                        <td class="sidebar-news-read">
                            <a href="./news.html">Read</a>
                        </td>
                        <td class="sidebar-news-content-author">
                            by <a href="./profile.html">BoRdEa2@00</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td colspan="2">
                            Implementarea reusita a Paginii New...
                        </td>
                    </tr>
                    <tr>
                        <td class="sidebar-news-read">
                            <a href="./news.html">Read</a>
                        </td>
                        <td class="sidebar-news-content-author">
                            by <a href="./profile.html">BoRdEa2@00</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--Profile Partial-->
    <div class="sidebar sidebar-profile">
        <div class="sidebar-title">
            My Information
        </div>
        <div class="sidebar-profile-content">
            <table>
                <tbody>
                    <tr>
                        <td>
                            Username:
                        </td>
                        <td class="sidebar-profile-username">
                            BoRdEa2@00
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Questions Answerd:
                        </td>
                        <td>
                            13
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Questions Unanswerd:
                        </td>
                        <td>
                            5
                        </td>
                    </tr>
                    <tr>
                        <td>
                            SQLitz:
                        </td>
                        <td>
                            13
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Rank:
                        </td>
                        <td>
                            #3
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="sidebar-profile-actions">
            
        </div>
    </div>
</body>
</html>