<!DOCTYPE html>

<html lang = "ro">
<head>
    <link rel="stylesheet" href="../resources/css/landing.css">
    <title>Bine ai venit!</title>
</head>
<body>
    <header>
        <h1>SQLGame</h1>
        <section class="head-info">
            <div class="content">
                <div class="text">
                    <h2>Nu este doar un joc oarecare, <br>Este SQLGame</h2>
                    <p>Vino și invață SQL <br> cu ajutorul celei mai interesante idei.</p>
                </div>           
                <div class="butoane">
                    <button class="login">Login</button>
                    <h3>Ai deja un cont?</h3>
                    <button class="Sign Up">Sign Up</button>
                    <h3>Nu ai cont? Înregistrează-te.</h3>
                </div>
            </div>
        </section>
    </header>
    <section class="learn">
        <div class="text">
            <h2>Învață cum să câștigi și câștigă pentru faimă!</h2>
            <p>Este mai usor ca niciodata să înveți SQL. Platforma îți pune la dispozitie numeroase metode de a-ți îmbunătăți cunoștințele. <br> Nu exista nu știu, doar nu vreau! </p>
    
        </div>
    </section>
    <section class="compete">
        <div class="text">
            <h2>Concurează împotriva prietenilor tăi!</h2>
            <p>Când faci lucrurile de unul singur te plictisești, de asta noi propunem să-ți inviți prietenii să învețe și ei cu tine. <br> Cumpără întrebări, publică întrebări, rezolvă întrebări, <br> Fă toate acestea într-un mediu competitiv.</p>
        </div>
    </section>
   
</body>
</html>
