<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="../resources/css/style.min.css">
    <link rel="stylesheet" href="../resources/css/menu.min.css">
    <script type="text/javascript" charset="UTF-8" src="./../resources/js/modal.js"></script>
    <script type="text/javascript" charset="UTF-8" src="./../resources/js/question.js"></script>
</head>

<body>
    <nav class="main-navigation">
        <ul>
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/question/">Questions</a></li>
            <li><a href="/board/">Boards</a></li>
            <li><a href="/create/">Create</a></li>
            <li><a href="/profil/">Profil</a></li>
        </ul>
    </nav>
    <main>
        <div id="main">
        </div>
        <div id="side">
            <div class="card">
                <h2>Lorem ipsum dolor sit amet</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam convallis malesuada consectetur. Curabitur mollis enim aliquam dui accumsan vulputate. Sed feugiat elementum felis, et posuere quam congue a. Proin sollicitudin urna mi, vel mattis nisi finibus vitae. Sed eget felis quis metus maximus volutpat eu vel augue. Proin libero turpis, pellentesque finibus suscipit eget, finibus vitae ante. Ut in maximus lectus.</p>
            </div>
            <div class="card">
                <h3>Some Post</h3>
            </div>
            <div class="card">
                <h3>Header</h3>
                <p>Some text..</p>
            </div>
        </div>
    </main>

    <footer>
        <aria>
            <p>
                <a href="#">Terms of Use</a> |
                <a href="#">Privacy Policy</a>
            </p>
        </aria>
        <p>Copyright &copy; 2021 SqlGame</p>
    </footer>
</body>

</html>