<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>    

    <link rel="stylesheet" href="../resources/css/style.min.css">
    <link rel="stylesheet" href="../resources/css/menu.min.css">
    <link rel="stylesheet" href="../resources/css/layout.css">
    
    <script type="text/javascript" charset="UTF-8" src="./../resources/js/script.js"></script>
    <script type="text/javascript" charset="UTF-8" src="./../resources/js/whoIsLoggedIn.js"></script>
    <script type="text/javascript" charset="UTF-8" src="./../resources/js/script.js"></script>
    <script type="text/javascript" charset="UTF-8" src="./../resources/js/modal.js"></script>
    <script type="text/javascript" charset="UTF-8" src="./../resources/js/api-bind.js"></script>
    <script type="text/javascript" charset="UTF-8" src="./../resources/js/question.js"></script>
</head>

<body>
    <% partial nav %>
    <main>
        <div id="main">
        </div>
        <div id="side">
            <div class="card">
                <h2>Filtru</h2>
                <br>
                <br>
                <div class="types">
                    <p>Text: </p>
                    <textarea id="text" cols="20" rows="1" placeholder="Input..."></textarea>
                    <br>
                    <br>
                    <p>Dificultate: </p>
                    <select id="dificultate">
                        <option value="0">Initial</option>
                        <option value="10">Usor</option>
                        <option value="20">Mediu</option>
                        <option value="30">Greu</option>
                    </select>
                    <br>
                    <br>
                    <p>Status: </p>
                    <select id="status">
                        <option value="0">Cumparate</option>
                        <option value="1">Necumparate</option>
                        <option value="2">Neterminate</option>
                    </select>
                </div>
            </div>
        </div>
    </main>

    <% partial footer %>
</body>

</html>