<!DOCTYPE html>
<html lang="ro">

<head>
    <link rel="stylesheet" type="text/css" href="../resources/css/login.css">
    <link rel="icon" href="imagine_tab.png">
    <title>LoginPage</title>
</head>

<body>
    <div class="wizzard">
        <form action="/auth/login" method="post">
            <div class="login-forum">
                <h1>WELCOME</h1>
                <div class="row">
                    <input type="text" id="username" placeholder="Your email" name="user" required>
                </div>
                <div class="row">
                    <input type="password" id="password" placeholder="Your password" name="pass" required>
                </div>
                <div class="row">
                    <button type="submit" value="Login">Login</button>
                </div>
            </div>
        </form>
    </div>
</body>

</html>