<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../resources/css/news.css">
    <link rel="stylesheet" href="../resources/css/sidebar.css">
    <title>News - Implementarea reusita a Paginii News</title>
</head>
<body>
    <div class="wizzard">
        <div class="news-title">
            <h1 class="title">Implementarea reusita a Paginii News</h2>
            <p class="credit">By <a href="./news.html?0001">BoRdEa2@00</a>, 4/7/2021</p>
        </div>
        <div class="content-container">
            <div class="content">
                <p>News is information about current events. This may be provided through many different media: word of mouth, printing, postal systems, broadcasting, electronic communication, or through the testimony of observers and witnesses to events.</p>
                <p>Common topics for news reports include war, government, politics, education, health, the environment, economy, business, fashion, and entertainment, as well as athletic events, quirky or unusual events. Government proclamations, concerning royal ceremonies, laws, taxes, public health, and criminals, have been dubbed news since ancient times. Technological and social developments, often driven by government communication and espionage networks, have increased the speed with which news can spread, as well as influenced its content. The genre of news as we know it today is closely associated with the newspaper.</p>
                <p class="sub-title">Etymology</p>
                <p>The English word "news" developed in the 14th century as a special use of the plural form of "new". In Middle English, the equivalent word was newes, like the French nouvelles and the German Neues. Similar developments are found in the Slavic languages – namely the Czech and Slovak noviny (from nový, "new"), the cognate Polish nowiny, the Bulgarian novini, and Russian novosti – and in the Celtic languages: the Welsh newyddion (from newydd) and the Cornish nowodhow (from nowydh). The myth that it was made after the first letters of the compass (North, East, West, South) is wrong.</p>
                <p>Jessica Garretson Finch is credited with coining the phrase "current events" while teaching at Barnard College in the 1890s.</p>
            </div>
            <div class="tags-container">
                <div class="tags">
                    <p>Tags: </p>
                    <p class="tag info">Wikipedia</p>
                    <p class="tag">News</p>
                    <p class="tag important">Admin</p>
                </div>
            </div>
        </div>
        <div class="comments comments-limit">
            <div class="comment">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <a href="./news.html?0001" class="profile-name">
                                    <img src="../resources/img/0001.png" class="profile-picture" alt="Profile">
                                    <p>BoRdEa2@00</p>
                                </a>
                            </td>
                            <td class="comment-text">
                                <p class="date-added">4/7/2021</p>
                                <p>Main Coment</p>            
                                <p class="reply-to-coment">reply</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ul class="replies">
                    <li>
                        <div class="comments">
                            <div class="comment">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <a href="./news.html?0001" class="profile-name">
                                                    <img src="../resources/img/0001.png" class="profile-picture"  alt="Profile">
                                                    <p>BoRdEa2@00</p>
                                                </a>
                                            </td>
                                            <td class="comment-text">
                                                <p class="date-added">4/7/2021</p>
                                                <p>First Reply to the Comment</p>            
                                                <p class="reply-to-coment">reply</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <ul class="replies">
                                    <li>
                                        <div class="comments">
                                            <div class="comment">
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <a href="./news.html?0001" class="profile-name">
                                                                    <img src="../resources/img/0001.png" class="profile-picture" alt="Profile">
                                                                    <p>BoRdEa2@00</p>
                                                                </a>
                                                            </td>
                                                            <td class="comment-text">
                                                                <p class="date-added">4/7/2021</p>
                                                                <p>Reply to Reply</p>            
                                                                <p class="reply-to-coment">reply</p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="comments">
                            <div class="comment">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <a href="./news.html?0001" class="profile-name">
                                                    <img src="../resources/img/0001.png" class="profile-picture" alt="Profile">
                                                    <p>BoRdEa2@00</p>
                                                </a>
                                            </td>
                                            <td class="comment-text">
                                                <p class="date-added">4/7/2021</p>
                                                <p>Second Reply to the Comment</p>            
                                                <p class="reply-to-coment">reply</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="comment">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <a href="./news.html?0001" class="profile-name">
                                    <img src="../resources/img/0001.png" class="profile-picture" alt="Profile">
                                    <p>BoRdEa2@00</p>
                                </a>
                            </td>
                            <td class="comment-text">
                                <p class="date-added">4/8/2021</p>
                                <p>Text</p>            
                                <p class="reply-to-coment">reply</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--News Partial-->
    <div class="sidebar sidebar-news">
        <div class="sidebar-title">
            News
        </div>
        <div class="sidebar-news-content">
            <table>
                <tbody>
                    <tr>
                        <td colspan="2">
                            Implementarea reusita a Paginii New...
                        </td>
                    </tr>
                    <tr>
                        <td class="sidebar-news-read">
                            <a href="./news.html">Read</a>
                        </td>
                        <td class="sidebar-news-content-author">
                            by <a href="./profile.html">BoRdEa2@00</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td colspan="2">
                            Implementarea reusita a Paginii New...
                        </td>
                    </tr>
                    <tr>
                        <td class="sidebar-news-read">
                            <a href="./news.html">Read</a>
                        </td>
                        <td class="sidebar-news-content-author">
                            by <a href="./profile.html">BoRdEa2@00</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td colspan="2">
                            Implementarea reusita a Paginii New...
                        </td>
                    </tr>
                    <tr>
                        <td class="sidebar-news-read">
                            <a href="./news.html">Read</a>
                        </td>
                        <td class="sidebar-news-content-author">
                            by <a href="./profile.html">BoRdEa2@00</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td colspan="2">
                            Implementarea reusita a Paginii New...
                        </td>
                    </tr>
                    <tr>
                        <td class="sidebar-news-read">
                            <a href="./news.html">Read</a>
                        </td>
                        <td class="sidebar-news-content-author">
                            by <a href="./profile.html">BoRdEa2@00</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td colspan="2">
                            Implementarea reusita a Paginii New...
                        </td>
                    </tr>
                    <tr>
                        <td class="sidebar-news-read">
                            <a href="./news.html">Read</a>
                        </td>
                        <td class="sidebar-news-content-author">
                            by <a href="./profile.html">BoRdEa2@00</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td colspan="2">
                            Implementarea reusita a Paginii New...
                        </td>
                    </tr>
                    <tr>
                        <td class="sidebar-news-read">
                            <a href="./news.html">Read</a>
                        </td>
                        <td class="sidebar-news-content-author">
                            by <a href="./profile.html">BoRdEa2@00</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--Profile Partial-->
    <div class="sidebar sidebar-profile">
        <div class="sidebar-title">
            My Information
        </div>
        <div class="sidebar-profile-content">
            <table>
                <tbody>
                    <tr>
                        <td>
                            Username:
                        </td>
                        <td class="sidebar-profile-username">
                            BoRdEa2@00
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Questions Answerd:
                        </td>
                        <td>
                            13
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Questions Unanswerd:
                        </td>
                        <td>
                            5
                        </td>
                    </tr>
                    <tr>
                        <td>
                            SQLitz:
                        </td>
                        <td>
                            13
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Rank:
                        </td>
                        <td>
                            #3
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="sidebar-profile-actions">
            
        </div>
    </div>
</body>
</html>