<!DOCTYPE html>

<html lang = "ro">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../resources/js/script.js"></script>
    <script src="../resources/js/classament.js"></script>
    <script src="../resources/js/whoIsLoggedIn.js"></script>
    <script src="../resources/js/classamentCard.js"></script>
    <script src="../resources/js/profileCard.js"></script>
    <script src = "../resources/js/historyBuilder.js"></script>
    <script src = "../resources/js/questionPage.js"></script>

    <link rel="stylesheet" href="../resources/css/questionpage.css">
    <link rel="stylesheet" href="../resources/css/menu.min.css">
    <title>Adaugă o întrebare</title>
</head>
<body>
    <% partial nav %>
    <section>
        <div class="profil">
            <h2>Profil</h2>
            <div class="body_profil" id = "profil">
                <div class="row">
                    <div class="informatie">
                        <p> * Nume utilizator:</p>
                    </div>
                    <div class="date" id = "username">
                        <p id = "text1">{username}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="informatie">
                        <p> * SQLCoins:</p>
                    </div>
                    <div class="date" id = "user_coins">
                        <p id = "text2">{coins}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="informatie">
                        <p> * Poz. clasament:</p>
                    </div>
                    <div class="date" id = "poz_clasament">
                        <p id = "text3">{pozclas}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="intrebare" id = "intrebareContainer">
            <div class="add_info">
                <div class="row" id = "first_row">
                   <p>{titlu}</p>
                </div>
                <div class="row" id = "second_row">
                    <p>{enunt}</p>
                </div>
                <div class="row">
                    <div class="col_1">
                        <p>Soluția:</p>
                    </div>
                    <div class="col_2">
                        <textarea  id="solutia" cols="50" rows="5" placeholder="Solutia..." required></textarea>
                    </div>
                </div>
                <div class="row" id = "validare">
                    <p>{validare}</p>
                </div>
                <div class="row_button inline_buttons">
                    <button id="raspuns">Submit raspuns</button>
                    <button id="descarcaFisier">Descarca</button>
                </div>
                
                
            </div>
        </div>
        <div class="clasament" id = "classamentCard">

            <button id = "download">Descarca</button>
        </div>
    </section>
</body>

</html>
