<!DOCTYPE html>

<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../resources/css/style.min.css">
    <link rel="stylesheet" href="../resources/css/signup.css">
    <script type="text/javascript" charset="UTF-8" src="./../resources/js/api-bind.js"></script>
    <script src='../resources/js/signup.js'></script>
</head>
<body>
    <div class="wizzard">
        <div class="account">
            <h1>Detalii</h1>
            <div class="row">
                <div class="col_30">
                    <p>Username: </p>
                </div>
                <div class="col_70">
                    <input type="text" id="username" placeholder="username" required>
                </div>
            </div>
            <div class="row">
                <div class="col_30">
                    <p>Nume: </p>
                </div>
                <div class="col_70">
                    <input type="text" id = "nume" placeholder="Popescu" required>
                </div>
            </div>
            <div class="row">
                <div class="col_30">
                    <p>Prenume: </p>
                </div>
                <div class="col_70">
                    <input type="text" id = "prenume" placeholder="Dragos" required>
                </div>
            </div>  
            <div class="row">
                <button class="btn btn-primary" data-wizrole="go_login">Login</button>
                <button class="btn btn-primary" data-wizrole="next_page">Pagina următoare</button>
            </div>
        </div>
        <div class="personal_info offline">
            <h1>Informatii personale</h1>
            <div class = "row">
                <div class="col_30">
                    <p>Email</p>
                </div>
                <div class="col_70">
                    <input type="email" id = "email" placeholder="hello@address.com" required>
                </div>
            </div>
            <div class = "row">
                <div class="col_30">
                    <p>Parola</p>
                </div>
                <div class="col_70">
                    <input type="password" id = "parola" placeholder="parola1234" required>
                </div>
            </div>
            <div class = "row">
                <div class="col_30">
                    <p>Parola</p>
                </div>
                <div class="col_70">
                    <input type="password" id = "parola_c" placeholder="parola1234" required>
                </div>
            </div>
            <div class="row">
                <button class="btn btn-primary" data-wizrole="last_page">Pagina precedentă</button>
                <button class="btn btn-primary" data-wizrole="next_page">Pagina următoare</button>
            </div>
        </div>
        <div class="school_location_info offline">
            <h1>Informatii personale</h1>
            <div class="row">
                <div class="col_30">
                    <p>Descriere:</p>
                </div>
                <div class="col_70">
                    <textarea id="descriere" rows="4" cols="30" placeholder="Ca sa te cunoaștem mai bine spune-ne câte ceva despre tine."></textarea>
                </div>
            </div>
            <div class="row">
                <button class="btn btn-primary" data-wizrole="last_page">Pagina precedentă</button>
                <button class="btn btn-primary" data-wizrole="submit" id = "submit">Trimite</button>
            </div>
        </div>
        <h4 class="error">{{mess}}</h4>
    </div>
</body>
</html>
