<!DOCTYPE html>

<html lang="ro">
<head>
    <link rel="icon" href="imagine_tab.png">
    <link rel="stylesheet" href="../resources/css/signup.css">
    <script src='../resources/js/signup.js'></script>
    <title>Sign Up</title>
</head>
<body>
    <div class="wizzard">
        <div class="account">
            <h2>Detalii</h2>
            <div class="row">
                <div class="col_30">
                    <p>Username: </p>
                </div>
                <div class="col_70">
                    <input type="text" id="username" placeholder="generator202" required>
                </div>
            </div>
            <div class="row">
                <div class="col_30">
                    <p>Nume: </p>
                </div>
                <div class="col_70">
                    <input type="text" id = "nume" placeholder="ex. Popescu" required>
                </div>
            </div>
            <div class="row">
                <div class="col_30">
                    <p>Prenume: </p>
                </div>
                <div class="col_70">
                    <input type="text" id = "prenume" placeholder="ex. Dragos" required>
                </div>
            </div>  
            <div class="row">
                <div class="col_100">
                    <button data-wizrole="next_page">Pagina următoare</button>
                </div>
            </div>                   
        </div>
        <div class="personal_info offline">
            <h2>Informatii personale</h2>
            <div class = "row">
                <div class="col_30">
                    <p>Email</p>
                </div>
                <div class="col_70">
                    <input type="email" id = "email" placeholder="ex. hello@address.com" required>
                </div>
            </div>
            <div class = "row">
                <div class="col_30">
                    <p>Parola</p>
                </div>
                <div class="col_70">
                    <input type="password" id = "parola" placeholder="Parola..." required>
                </div>
            </div>
            <div class = "row">
                <div class="col_30">
                    <p>Parola</p>
                </div>
                <div class="col_70">
                    <input type="password" id = "parola_c" placeholder="Aceeasi parola..." required>
                </div>
            </div>
            <div class="row">
                <div class="col_50_1">
                    <button data-wizrole="last_page">Pagina precedentă</button>
                </div>
                <div class="col_50_2">
                    <button data-wizrole="next_page">Pagina următoare</button>
                </div>
            </div>   
        </div>
        <div class="school_location_info offline">
            <h2>Informatii personale</h2>
            <div class="row">
                <div class="col_30">
                    <p>Descriere:</p>
                </div>
                <div class="col_70">
                    <textarea id="descriere" rows="4" cols="30" placeholder="Ca sa te cunoaștem mai bine spune-ne câte ceva despre tine."></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col_50_1">
                    <button data-wizrole="last_page">Pagina precedentă</button>
                </div>
                <div class="col_50_2">
                    <button data-wizrole="submit" id = "submit">Trimite</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
