body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  background-color: #052338;
}

.row {
  margin: 0;
  padding: 1em 0 0 0;
}

.row2 {
  margin: 0;
  padding: 1em 0 0 0;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.profile_container {
  width: 30%;
  height: 100%;
  float: left;
}

.profile_picture {
  opacity: 1;
  display: block;
  width: 90%;
  border-radius: 50%;
  border: 3px solid #052338;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#change_profile_picture {
  display: none;
}

.col_70 {
  width: 70%;
  float: right;
}

.col_30 {
  width: 30%;
  float: left;
}

.col_30 p {
  margin: 10px auto;
  padding: 0px 20px 0px;
  text-align: right;
}

.col_100 {
  width: 100%;
}

body {
  width: 100%;
  display: list-item;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wizzard {
  background-color: #e9f5fd;
  width: 70vw;
  height: auto;
  padding: 30px;
  position: absolute;
  margin: 2em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 23px;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

body .wizzard input, body .wizzard textarea {
  text-align: center;
  background: none;
  outline: none;
  border: 3px solid #052338;
  width: 70%;
  border-radius: 23px;
  resize: none;
  font-size: 2em;
}

body .wizzard input:focus, body .wizzard textarea:focus {
  width: calc(70% + 10px);
}

body .wizzard .disabled_button {
  padding: 1em 2em;
  text-align: center;
  background: #202020;
  outline: none;
  color: #e9f5fd;
  width: 100px;
}

body .wizzard .enabled_button {
  padding: 1em 2em;
  text-align: center;
  background: #031724;
  outline: none;
  color: #e9f5fd;
  width: 100px;
}

body .wizzard p {
  font-size: 4vmin;
}

.offline {
  display: none;
}

@media only screen and (max-width: 800px) {
  .wizzard {
    width: 80vw;
    margin-top: 10vh;
  }
  .wizzard .row > * {
    width: 100%;
    margin: 0;
    padding: 1em 0 0 0;
  }
  .wizzard .row p {
    text-align: center;
  }
  .wizzard .profile_container {
    width: 100%;
  }
  .wizzard .profile_container .profile_picture {
    width: 30%;
    border-radius: 50%;
    border: 3px solid #052338;
  }
  .wizzard .title {
    display: none;
  }
}

@media only screen and (max-device-width: 800px) {
  .wizzard {
    width: 80vw;
  }
  .wizzard .row > * {
    width: 100%;
    margin: 0;
    padding: 1em 0 0 0;
  }
  .wizzard .row p {
    text-align: center;
  }
  .wizzard .profile_container {
    width: 100%;
  }
  .wizzard .profile_container .profile_picture {
    width: 40%;
    border-radius: 50%;
    border: 3px solid #052338;
  }
  .wizzard .title {
    display: none;
  }
}

.disable {
  display: block;
}
