* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #052338;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

@supports (background-blend-mode: multiply) {
  body {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-blend-mode: multiply;
  }
}

section {
  position: relative;
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10vh;
}

section .profil {
  border: 3px solid #a2a391;
  width: 20%;
  border-radius: 23px;
  background-color: #a2a391;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

section .profil h2 {
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

section .profil .body_profil .row {
  width: 100%;
}

section .profil .body_profil .row .informatie {
  width: 60%;
  float: left;
  padding: 1em 0 1em 0;
  font-weight: bold;
}

section .profil .body_profil .row .date {
  float: right;
  width: 40%;
  padding: 1em 0 1em 0;
  font-style: italic;
}

section .intrebari {
  border: 3px solid #a2a391;
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 23px;
  background-color: #a2a391;
  overflow-y: scroll;
  height: 70vh;
}

section .intrebari .header {
  width: 100%;
  text-align: center;
}

section .intrebari .container_intrebari {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .intrebari .container_intrebari .intrebare {
  overflow-wrap: normal;
  padding: 1em;
  border: 3px solid orange;
  background-color: olive;
  margin: 1em;
  opacity: 70%;
  border-radius: 23px;
}

section .intrebari .container_intrebari .intrebare:hover {
  opacity: 100%;
}

section .clasament {
  border: 3px solid #a2a391;
  background-color: #a2a391;
  width: 15%;
  border-radius: 23px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

section .clasament h2 {
  text-align: center;
}

section .clasament .row p {
  width: 100%;
  text-align: left;
  padding: 1em;
  font-style: italic;
  font-weight: bold;
}

section .clasament hr {
  height: 2px;
  background-color: orange;
  outline: none;
}

section .clasament .row_button {
  width: 100%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

section .clasament .row_button button {
  padding: 1em 1em;
  text-align: center;
  background: #052338;
  outline: none;
  color: #a2a391;
  border-radius: 23px;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  border: 7px solid black;
  -webkit-box-shadow: none;
          box-shadow: none;
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, left bottom, from(#052338), to(#a2a391));
  background: linear-gradient(#052338, #a2a391);
  border-radius: 23px;
}
/*# sourceMappingURL=questionpage.css.map */