body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  background-color: #245f78;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.col_30 {
  width: 30%;
  float: left;
}

.col_30 p {
  margin: 20px auto;
  padding: 10px 10px;
  text-align: right;
}

.col_70 {
  margin: 20px auto;
  width: 70%;
  float: right;
}

.col_50_1 {
  width: 50%;
  float: left;
}

.col_50_2 {
  width: 50%;
  float: left;
}

.col_100 {
  width: 100%;
  float: center;
}

.wizzard {
  background-color: #a2a391;
  width: 70vw;
  height: auto;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 23px;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.wizzard input, .wizzard textarea {
  text-align: center;
  background: none;
  outline: none;
  border: 3px solid #245f78;
  width: 70%;
  border-radius: 23px;
  resize: none;
  font-size: 2em;
}

.wizzard input:focus, .wizzard textarea:focus {
  width: calc(70% + 10px);
}

.wizzard button {
  padding: 1em 1em;
  text-align: center;
  background: #245f78;
  outline: none;
  color: #a2a391;
  width: 100px;
  float: center;
}

.wizzard p {
  font-size: 4vmin;
}

.offline {
  display: none;
}

@media only screen and (max-device-width: 800px) {
  .wizzard {
    width: 80vw;
  }
  .wizzard .row > * {
    width: 100%;
    margin: 0;
    padding: 1em 0 0 0;
  }
  .wizzard .row p {
    text-align: center;
  }
}

@media only screen and (max-device-height: 600px) {
  .wizzard {
    width: 80vh;
  }
  .wizzard .row p {
    font-size: 4vmin;
    text-align: center;
  }
  .wizzard .row input, .wizzard .row textarea {
    font-size: 4vmin;
    text-align: center;
  }
}
