/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 23px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 19px;
}

/* Change Autocomplete styles in Chrome*/
#main {
  float: left;
  width: 75%;
  margin: 12px auto;
}

#side {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

.question-slot {
  float: left;
  padding: 0 8px;
}

.space-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.question-box {
  float: left;
  width: 100%;
  max-height: 250px;
  background-color: white;
  margin-top: 8px;
  padding: 0 0 4px 2px;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #BFBFBF;
}

.question-box > p {
  font-style: oblique;
  font-size: 20px;
}

.question-box:hover {
  background-color: #f1f1f1;
  -webkit-box-shadow: 6px 6px 5px #aaaaaa;
          box-shadow: 6px 6px 5px #aaaaaa;
}

.question-box div.nfo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

body {
  background: #f1f1f1;
}

main {
  margin: 0 auto;
  max-width: 95vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main nav {
  display: inline;
}

.container {
  width: 100%;
  max-width: 80vw;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}

.box {
  background-color: #f0f3f2;
  border-radius: 1em 1em;
  margin: 0em;
  padding: 1em;
  font-size: 2em;
}

.box > * {
  margin: 0 auto;
}

.box a {
  text-decoration: none;
}

.btn {
  margin: 0.25em;
  color: inherit;
  text-transform: uppercase;
  white-space: normal;
  border: 0;
  border-radius: 0.2rem;
  padding: 0.2em 0.4em;
  font-size: 1.25em;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
}

.btn :not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn.btn-primary {
  color: #fff;
  background-color: #4285f4 !important;
}

.btn.btn-primary.btn-outline {
  color: #4285f4 !important;
  background-color: transparent !important;
  border: 2px solid #4285f4 !important;
}

.btn.btn-default {
  color: #fff;
  background-color: #2bbbad !important;
}

.btn.btn-default.btn-outline {
  color: #2bbbad !important;
  background-color: transparent !important;
  border: 2px solid #2bbbad !important;
}

.btn.btn-secundary {
  color: #fff;
  background-color: #a060c0 !important;
}

.btn.btn-secundary.btn-outline {
  color: #a060c0 !important;
  background-color: transparent !important;
  border: 2px solid #a060c0 !important;
}

.btn.btn-success {
  color: #fff;
  background-color: #00c851 !important;
}

.btn.btn-success.btn-outline {
  color: #00c851 !important;
  background-color: transparent !important;
  border: 2px solid #00c851 !important;
}

.btn.btn-info {
  color: #fff;
  background-color: #33b5e5 !important;
}

.btn.btn-info.btn-outline {
  color: #33b5e5 !important;
  background-color: transparent !important;
  border: 2px solid #33b5e5 !important;
}

.btn.btn-warning {
  color: #fff;
  background-color: #f0b030 !important;
}

.btn.btn-warning.btn-outline {
  color: #f0b030 !important;
  background-color: transparent !important;
  border: 2px solid #f0b030 !important;
}

.btn.btn-danger {
  color: #fff;
  background-color: #dd3547 !important;
}

.btn.btn-danger.btn-outline {
  color: #dd3547 !important;
  background-color: transparent !important;
  border: 2px solid #dd3547 !important;
}

.btn.btn-round {
  border-radius: 10em;
}

.text-center {
  text-align: center !important;
}

.flow-off {
  overflow: hidden;
}

.offline {
  display: none;
}
